<header class="site-header">
  <div class="site-header__container">
    <hgroup>
        <h1 class="site-header__title">
          <a href="{{ "/" | relative_url }}">{{ site.title }}</a>
        </h1>
        <h2 class="site-header__subtitle">{{ site.subtitle }}</h2>
    </hgroup>
    <nav class="site-header__nav">
      <ul>
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        {% assign about_page = site.categories.about | where: "title", "About" | first %}
        <li><a href="{{ about_page.url }}">{{ about_page.title }}</a></li>
      </ul>
    </nav>
  </div>
</header>
