.content {
  font-family: sans-serif;
}

/*
  The code below this line was retrieved from:
  http://meyerweb.com/eric/tools/css/reset/

  This code was released into the public domain by its author.
*/
@import 'reset';
/*
  End of code retrieved from:
  http://meyerweb.com/eric/tools/css/reset/
*/
