@import 'site-wide-values';

$vertical-padding: 10px;

@mixin running-section {
  background: black;
  color: white;

  a {
    color: white;
    text-decoration: none;
    @include base-text();
  }
}

@mixin running-section-container {
  width: $site-width;
  margin: auto;
  position: relative;
  padding: $vertical-padding 0px;
}

@mixin running-section-nav {
  position: absolute;
  top: $vertical-padding;
  right: 0px;

  li {
    float: left;
    padding: 0px 5px;
  }

  a:hover {
    text-decoration: underline;
  }
}

/*
  Header
*/

.site-header {
  @include running-section();
}

.site-header__container {
  @include running-section-container();
}

.site-header__nav {
  @include running-section-nav();
}

/*
  Footer
*/

.site-footer {
  @include running-section();
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.site-footer__container {
  @include running-section-container();
}

.site-footer__copyright-notice {
  @include base-text();
}

.site-footer__nav {
  @include running-section-nav();
}
