@import 'site-wide-values';

$vertical-padding: 10px;
$footer-text-size: 0.9em;

@mixin running-section($font-size: 1em) {
  background: black;
  color: white;

  a {
    color: white;
    text-decoration: none;
    @include heading-text($font-size);
  }
}

@mixin running-section-container {
  width: $site-width;
  margin: auto;
  position: relative;
  padding: $vertical-padding 0px;
}

@mixin running-section-nav {
  position: absolute;
  top: $vertical-padding;
  right: 0px;

  li {
    float: left;
    padding: 0px 5px;
  }

  a:hover {
    text-decoration: underline;
  }
}

/*
  Header
*/

.site-header {
  @include running-section();
}

.site-header__container {
  @include running-section-container();
}

.site-header__title {
  margin-bottom: 5px;
  @include heading-text(1.5em);
}

.site-header__subtitle {
  @include heading-text();
}

.site-header__nav {
  @include running-section-nav();
}

/*
  Footer
*/

.site-footer {
  @include running-section($footer-text-size);
  position: absolute;
  bottom: 0px;
  height: $footer-height;
  width: 100%;
}

.site-footer__container {
  @include running-section-container();
}

.site-footer__copyright-notice {
  @include heading-text($footer-text-size);
}

.site-footer__nav {
  @include running-section-nav();
}
