$site-width: 80%;
$footer-height: 2.3em;

@mixin heading-text($font-size: 1em) {
  font-family: sans-serif;
  font-size: $font-size;
}

@mixin content-text($font-size: 1em) {
  font-family: sans-serif;
  font-size: $font-size;
  line-height: $font-size + 0.4;
  text-align: justify;
}

@mixin code-text($font-size: 1em) {
  font-family: monospace;
  font-weight: bold;
  font-size: $font-size;
  line-height: $font-size + 0.4;
  color: white;
  background-color: black;
}
